[data-created-date-time][data-before]::before {
  position: absolute;
  content: attr(data-before);
  color: var(--dynamicBananaText, #3f3f45);;
  padding: 6px;
  opacity: 0.9;
  border-radius: 4px;
  font-family: monospace;
  background-color: var(--dynamicBananaColor, #3f3f45);
  z-index: 2;
}
