/* [data-created-date-time][data-before]::before {
  position: absolute;
  content: attr(data-before);
  color: var(--dynamicBananaText, #3f3f45);;
  padding: 6px;
  opacity: 0.9;
  border-radius: 4px;
  font-family: monospace;
  background-color: var(--dynamicBananaColor, #3f3f45);
  z-index: 2;
} */

/* .tooltip {
  position: absolute;
  content: attr(data-before);
  color: var(--dynamicBananaText, #3f3f45);;
  padding: 6px;
  opacity: 0.9;
  border-radius: 4px;
  font-family: monospace;
  background-color: var(--dynamicBananaColor, #3f3f45);
  z-index: 2;
} */

.tooltip {
  box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
  background: white;
  display: flex;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 6px;
  /* opacity: 0.9; */
  border-radius: 4px;
  font-family: monospace;
  z-index: 2;
}

/* New section */

svg {
  width: 50px;
  height: 50px;
  transform: rotate(-90deg);
  overflow: initial;
}

circle {
  stroke-width: 14px;
  fill: none;
  stroke-linecap: round;
}
circle:nth-child(1) {
  stroke: rgb(241, 241, 241);
}
circle:nth-child(2) {
  stroke: var(--dynamicBananaColor);
  position: relative;
  z-index: 1;
}
.circle_box:nth-child(1) circle:nth-child(2) {
  stroke-dashoffset: calc(100 * 6);
  stroke-dasharray: calc(100 * 6);
  stroke-dashoffset: calc((100 * 6) - ((100 * 6) * var(--progressValue)) / 100);
  stroke-position: inside;
}

.svg_box {
  position: relative;
}
.circle_box span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(50, 50, 50);
  font-size: 15px;
}
